@model IEnumerable<MovieTime.ViewModels.WatchParty.WatchPartyViewModel>

@{
    ViewData["Title"] = "Watch Parties";
}
<h2 class="row">Watch Party!!</h2>

<div class="row">
    <h4>Watch Parties</h4>
    <hr />
    @foreach (var party in Model)
    {
        <h4>@party.Name</h4>
        <div class="col-md-4 watch-party">
            <ul>
                @foreach (var user in party.Users)
                {
                    <li>@user</li>
                }
            </ul>
            <a class="btn btn-primary" role="button" asp-controller="WatchParty" asp-action="Edit" asp-route-WatchPartyId="@party.WatchPartyId">Edit</a>
            <button class="btn btn-primary" onclick="GetSuggestion(@party.WatchPartyId)">Generate Suggestion</button>
        </div>
    }
</div>
<br />
<br />
<div>
    <a asp-controller="WatchParty" asp-action="Edit">Create New</a>
    <br />
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

<script>
    function GetSuggestion(watchPartyId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMovieSuggestion")',
            data: {
                WatchPartyId: watchPartyId
            },
            success: function (result) {
                alert(result);
            }
        });

    }
</script>
